body,
html {
  background-color: black;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  /*
  height: 100%;
  margin: 0;
  position: relative;
  */
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

/* animations */
@import "compass/css3";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.fadeLoop {
  animation: fadeIn 700ms infinite alternate;
}
